<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<div layout:fragment="content">

    <form action="/members/request" role="form" method="post">
        <input type="hidden">
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">신청 하기</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

</div>

</html>